.page {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.roleInfo {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
    color: rgba(0, 0, 0, 0.65);
}
