html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.colorWeak {
    filter: invert(80%);
}

.ant-layout {
    min-height: 100vh;
}

.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
    left: unset;
}

canvas {
    display: block;
}

body {
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
    list-style: none;
}

@media (max-width: 768px) {
    .ant-table {
        width: 100%;
        overflow-x: auto;

        &-thead > tr,
        &-tbody > tr {
            > th,
            > td {
                white-space: pre;

                > span {
                    display: block;
                }
            }
        }
    }
}

/* 婊氬姩鏉″嚬妲界殑棰滆壊 */
*::-webkit-scrollbar-track-piece {
    background-color: #f8f8f8;
    border-radius: 2em;
}
// 婊氬姩鏉＄殑瀹藉害
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
// 婊氬姩鏉＄殑鑳屾櫙鑹?鍦嗚绛夎缃?
*::-webkit-scrollbar-thumb {
    background-color: #ccc;
    background-clip: padding-box;
    border-radius: 2em;
}
// 婊氬姩鏉＄殑榧犳爣绉讳笂鍘绘晥鏋?
*::-webkit-scrollbar-thumb:hover {
    background-color: #bbb;
}

/* 顶部右侧头像区域取消悬浮背景 */
:global(.ant-pro-global-header-index-action) {
    background: transparent !important;
}

:global(.ant-pro-global-header-index-action:hover) {
    background: transparent !important;
}

:global(.ant-pro-global-header-index-action:focus) {
    background: transparent !important;
}

.ant-pro-layout .ant-pro-layout-content {
    padding-block: 0px !important;
    padding-inline: 0px !important;
}
.ant-pro-top-nav-header-main-left {
    padding-right: 120px;
}
